registry=https://registry.npmmirror.com/
node_mirror=https://npmmirror.com/mirrors/node/
chrome_mirror=https://npmmirror.com/mirrors/chromedriver/
electron_mirror=https://npmmirror.com/mirrors/electron/

always-auth=false
strict-peer-dependencies=false
auto-install-peers=true
